---
import {Linkedin, ScrollText} from "lucide-react"
---

<header class="sticky top-0 z-50 bg-popover">
	<nav class="flex items-center justify-between">
	<div class="p-4 inline-flex items-center">
		<h2 class="ml-4 text-2xl bg-clip-text text-transparent bg-gradient-to-b from-popover-foreground to-gray-600"><a href="/">Luke Steinbicker</a></h2>
	</div>
	<div class="p-4 inline-flex items-center">
		<a href="https://www.linkedin.com/in/luke-steinbicker/"><Linkedin className="text-foreground mr-4"></Linkedin></a>
		<a href="https://docs.google.com/document/d/1FoRvMY4QVUbN5276vvCDHwC6V20jNy6l_XAvvIYs620"><ScrollText className="text-foreground"></ScrollText></a>
	</div>
	</nav>
</header>
